.inputContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  background: #ffffff;
  border-radius: 16px;
  min-height: fit-content;
  padding: 10px;
  margin: 5px;
}

.inputLabel {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  font-size: 16px;
  /* or 18px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #6d6d6d;
  width: 100%;
}

.inputBox {
  margin-top: 5px;
  outline: none;
  border: none;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-size: 22px;
  color: #000000;
  width: 100%;
}

@media only screen and (max-width: 780px) {
  .inputContainer {
    width: 80%;
  }
}
